.subtitle {
  margin: 2rem 0;
  font-weight: 600;
  color: var(--color-primary);
}
h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: center;
}
h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
h3 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}
